html {
  overflow: auto;
}
body {
  background-color: #FAFAFA;
  min-width: 305px;
}
section {
  margin-top: 80px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
section .classnav {
  width: 300px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  float: left;
}
section .classnav .sider-content {
  background-color: white;
  border-radius: 5px;
}
section .classnav .sider-content .slider-body {
  background-color: white;
  border-radius: 5px;
}
section .classnav .sider-content .slider-body .logo {
  background-color: white;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 90px;
}
section .classnav .sider-content .slider-body .logo p {
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #474747;
  margin: 0;
  font-size: 16px;
}
section .classnav .sider-content .slider-body .logo h1 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #474747;
  margin: 10px 0 0;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: -4px;
}
section .classnav .sider-content .slider-body .btn-group {
  width: 100%;
  background-color: #286090;
}
section .classnav .sider-content .slider-body .btn-group label {
  width: 50%;
  border-radius: 0;
}
section .classbox {
  background-color: white;
  height: 100%;
  width: 100%;
  float: left;
  margin-left: 45px;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}
section .classbox #ldc_content {
  width: 100%;
}
section .classbox #ldc_content .row {
  margin: 0;
  font-family: "微软雅黑";
  color: #474747;
}
section .classbox #ldc_content .row .signatureLink {
  color: #2B31CA;
}
section .classbox #ldc_content .row a {
  font-weight: 600;
  color: #D0254E;
}
section .classbox #ldc_content .row footer {
  display: none;
}
section ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
  opacity: 0.5;
}
section ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: white;
  opacity: 0.5;
}
section ::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #DCE4E6;
  opacity: 0.5;
}
#allClassList li a {
  margin-right: 15px;
}
#packageGroup li {
  width: 33.33%;
  padding-left: 20px;
  padding-right: 10px;
}
#packageGroup .swich {
  background-color: #F0F0F0;
}
#packageGroup li a {
  color: #6090BC;
}
#packageGroup li:hover {
  background-color: #F0F0F0;
  opacity: 0.9;
}
#allClassList li a {
  color: #474747;
}
#allClassList li:hover {
  background-color: #FAFAFA;
  opacity: 0.9;
}
#classSearch {
  width: 270px;
  margin-left: -16px;
}
.part-01 {
  padding-top: 10px;
}
.classCon {
  padding-top: 10px;
  width: 300px;
}
.classCon .form-group {
  width: 100%;
}
.classCon .form-group .search {
  text-align: center;
}
.classCon .form-group .search input {
  float: left;
  margin-left: 10px;
}
.part {
  height: 160px;
}
#classGroup li a {
  color: #555555;
}
#classGroup li:hover {
  opacity: 0.9;
  background-color: #FAFAFA;
}
@media (min-width: 768px) and (max-width: 775px) {
  section .classbox {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  section {
    margin-top: 640px;
  }
  section .classnav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
  }
  section .classnav .classCon {
    padding-top: 10px;
    width: 100%;
  }
  section .classnav #classSearch,
  section .classnav #searchAllClass {
    margin: 10px 0;
    width: 100%;
  }
  section .classnav #packageGroup li {
    text-align: center;
  }
  section .classbox {
    margin: auto;
  }
}
@media (max-width: 450px) {
  section {
    padding-left: 8px;
    padding-right: 8px;
  }
}
#sousuo1 {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -41px;
  margin-right: -6px;
}
#sousuo2 {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -41px;
  margin-right: -6px;
}
@media (max-width: 768px) {
  #sousuo1 {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -37px;
    margin-right: 10px;
  }
  #sousuo2 {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -37px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=Layabox-Api.css.map */
